{{ form_start(form) }}
{% if redirect == true %}
<script>window.location = window.location.href.split("?")[0];</script>
{% endif %}
<div class="row">
    <div class="col-md-12">
        {{ form_label(form.comment) }}
        {{ form_widget(form.comment, {'attr': {'class': 'form-control', 'rows' : '8'} }) }}
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-3">
        {{ form_row(form.submit, {'attr': {'class': 'btn btn-default' }}) }}
    </div>
</div>

{{ form_end(form) }}