<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SMART Chief{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bootstrapTheme.css') }}" />
        <link rel="stylesheet" href="{{ asset('components/animate.css/animate.min.css') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {% include 'Navbar.html.twig' %}

            <div class="row" style="padding-top: 2em">
                {% block bodyWithNavbar %}
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="jumbotron">
                            {% block bodyContainer %}
                                <h1 class="display-3">Information</h1>
                                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

        <script src="{{ asset('components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('components/remarkable-bootstrap-notify/bootstrap-notify.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
