<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('app.index') }}">SMART Chief</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            {% if app.user != null %}
                {% if app.user.chief != null %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('chief.viewRequestHistory', {'chiefId': app.user.chief.id}) }}">Request history</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('chief.request_verification', {'chiefId': app.user.chief.id}) }}">Verification</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('chief.request_verification', {'chiefId': app.user.chief.id}) }}">Subscription</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app.viewChiefList', {'page': '1'}) }}">Choose a chief</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app.viewRequestHistory') }}">Request history</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>

        {% if app.user == null %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_security_login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Register</a>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link">Logged in as: {{ app.user.name }} {{ app.user.surname }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i style="font-size: 1.5em; color: #D9230F;" class="fas fa-bell"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Log out</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>