{% trans_default_domain 'FOSUserBundle' %}

<div class="register">
    <h1>Register:</h1>
    <hr>

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <fieldset>
        <div class="row">
            <div class="col-md-4">
                <label for="username">Username:</label>
            </div>
            <div class="col-md-5">
                {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <label for="password">Email:</label>
            </div>
            <div class="col-md-5">
                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <label for="password">Password:</label>
            </div>
            <div class="col-md-5">
                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <label for="password">Repeat Password:</label>
            </div>
            <div class="col-md-5">
                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <label for="password">Name:</label>
            </div>
            <div class="col-md-5">
                {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <label for="password">Surname:</label>
            </div>
            <div class="col-md-5">
                {{ form_widget(form.surname, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <label for="password">Phone Number:</label>
            </div>
            <div class="col-md-5">
                {{ form_widget(form.phone_number, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <br>
        <div class="custom-control custom-checkbox">
            {{ form_widget(form.chief_user, { 'attr': {'class': 'custom-control-input' } }) }}
            {{ form_label(form.chief_user, "Register as a chief?", { 'label_attr': {'class': 'custom-control-label' } }) }}
        </div>

        {{ form_widget(form) }}
        <br><br><br>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block btn-large">Continue</button>
            </div>
        </div>
        {{ form_end(form) }}
    </fieldset>
</div>
